body {
  margin: 0px;
  -webkit-text-size-adjust: 100%;
  text-align: center;
}

header {
  width: 100%;
  padding: 10px 0;
  background-color: #dcdcdc;
}

#main {
  font-size: 100px;
  padding: 30px;
}

.choices {
  font-size: 13px;
  border: none;
  width: 20%;
  height: 40px;
  margin: 0 0 5px 0;
  font-weight: bold;
}

.langbtn input {
  display: none;
}

.langbtn span {
  border: 2px solid #27acd9;
  border-radius: 100vh;
  background: #27acd9;
  color: #ffffff;
  padding: 0.4rem 0.8rem;
  font-size: 15px;
  font-weight: bold;
  -webkit-user-select: none;
}

.langbtn span:hover {
  background: #ffffff;
  color: #27acd9;
}

.langbtn input:checked + span {
  border: 2px solid #ffffff;
  background: #ffffff;
  color: #27acd9;
}

.langbtn input:checked + span:hover {
  background: #27acd9;
  color: #ffffff;
}

#number {
  border: 2px solid #27acd9;
  border-radius: 100vh;
  background: #27acd9;
  color: #ffffff;
  padding: 0.4rem 0.8rem;
  font-size: 15px;
  font-weight: bold;
  width: 35px;
}

#TorF {
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
}

#goresult {
  background: #ffffe0;
  font-weight: bold;
}

#show {
  border-radius: 100vh;
  background: #708090;
  color: #ffffff;
  padding: 0.4rem 0.8rem;
  font-size: 15px;
  font-weight: bold;
}

.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

.execute {
  border: 2px solid #ffa500;
  border-radius: 100vh;
  background: #ffa500;
  color: #ffffff;
  padding: 0.4rem 0.8rem;
  font-size: 15px;
  font-weight: bold;
}

.execute:hover {
  background: #ffffff;
  color: #ffa500;
}

.execute:active {
  color: #ffffff;
}

#from,
#to {
  width: 35px;
  background: #27acd9;
  color: #ffffff;
  font-weight: bold;
  border: none;
  font-size: 15px;
}

.fromto {
  border: 2px solid #27acd9;
  border-radius: 100vh;
  background: #27acd9;
  color: #ffffff;
  padding: 0.4rem 0.8rem;
  font-size: 15px;
  font-weight: bold;
  width: 35px;
}
